---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import PostSummaryCard from "@/components/post/PostSummaryCard.astro";
import Pagination from "@/components/ui/Pagination.astro";
import { getSortedPosts } from "@/utils/post";
import { SITE } from "@/config";

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await getCollection("blog", ({ data }) => !data.draft);
  // Filter posts for Georgian language
  const posts = allPosts.filter(post => post.slug.startsWith("ka/"));
  return paginate(getSortedPosts(posts), { pageSize: SITE.postPerPage });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title={`პოსტები | ${SITE.title}`}>
  <Header />
  <Main pageTitle="პოსტები" pageDesc="ყველა სტატია რომელიც მე დავპოსტე.">
    <ul>
      {
        page.data.map(({ data, slug }) => (
          <PostSummaryCard
            title={data.title}
            description={data.description}
            pubDatetime={data.pubDatetime}
            modDatetime={data.modDatetime}
            timezone={data.timezone}
            slug={slug.split("/").slice(-1)[0]}
          />
        ))
      }
    </ul>
  </Main>

  <Pagination
    currentPage={page.currentPage}
    totalPages={page.lastPage}
    prevUrl={page.url.prev}
    nextUrl={page.url.next}
  />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
